.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f8f9fa;
  color: #6c757d;
  padding: 20px;
  text-align: center;
}

.footer-container h4 {
  margin-bottom: 10px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.github-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-container a {
  color: #007bff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-container a:hover {
  text-decoration: underline;
}
