/* .main-search-section {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
  } */
  
  .search-info {
    flex: 1;
    padding: 0px;
  }
  
  .search-title{
    margin:0;
  }

  .main-search-form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
  }
  
  .main-search-input {
    padding: 10px;
    width: 100%;
    border: none;
    /* border: none; */
  }
  
  .search-button {
    padding: 11px 11px;
    background-color: red;
    color: white;
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
  }
  

.fa-search {
    font-size: 12pt;
}