/* .main-search-section {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
  } */
  
  .search-info {
    flex: 1;
    padding: 0px;
  }
  
  .search-title{
    margin:0;
  }

  .main-search-form {
    display: flex;
    align-items: center;
  }
  
  .main-search-input {
    padding: 10px;
    width: 100%;
    /* border: none; */
    border-radius: 30px 0 0 30px;
  }
  
  .search-button {
    padding: 11px 11px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
  }
  

  .search-button[type='submit'] {
    appearance: none;
  }
  

  .search-button[type='submit']::before {
    content: "\1F50D"; 
    font-size: 1em;
    margin-right: 5px;
  }