.main-search-section {
  height: 48px;
}
.search-info {
  flex: 1;
  padding: 0px;
  height: 48px;
  border-radius: 5px;
}
.search-title{
  margin:0;
}
.main-search-form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 48px;
}
.main-search-input {
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
  width: 100%;
  border: none;
  height: 100%;
  position: relative;
  font-size: 16px;
}
.search-button {
  padding: 11px 11px;
  background-color: rgba(224,7,7,1);
  color: white;
  border: none;
  height: 48px;
  width: 56px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.fa-search {
  font-size: 24px
}
.search-results-hidden{
  display: none;
  color: white;
}
.search-results-view {
  background-color: rgb(240, 240, 240);
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 900;
}
.results-container-width {
  width: calc(100% - 70px);
}
.search-business {
  cursor: pointer;
  padding: 5px
}
.search-business:hover {
  color: red
}
